<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Skan z urządzenia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skanuj z urządzenia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Zeskanowany z urządzenia</ion-card-subtitle>
      <ion-card-title>Kod</ion-card-title>
    </ion-card-header>

    <ion-card-content> {{msg}} </ion-card-content>
  </ion-card>
</ion-content>
