<app-menu-page [header]="'Lokalizacja ?'">
  <!-- <app-spinner *ngIf="this.isLoading"></app-spinner> -->

  <ion-item>
    <ion-label position="floating">Kod</ion-label>
    <ion-input
      autofocus
      type="text"
      [ngModel]="productCode"
      name="productCode"
    ></ion-input>
  </ion-item>

  <div *ngIf="product?.strefa" class="lok-container">
    <div class="strefa-result">
      <ion-label>Sugerowana lokalizacja: </ion-label>
      <ion-text color="primary">
        <h1 class="strefa">{{ product.loka[0]?.lokSugerowana}}</h1>
      </ion-text>
    </div>

    <ion-label>Lokalizacje produktu:</ion-label>

    <ion-grid *ngFor="let lok of product.loka">
      <ion-row>
        <ion-col
          ><ion-text color="medium">Lokalizacja sugerowana:</ion-text></ion-col
        >
        <ion-col
          ><ion-text color="secondary">{{lok.lokSugerowana}}</ion-text></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col
          ><ion-text color="medium">Objętość lokalizacji:</ion-text></ion-col
        >
        <ion-col
          ><ion-text color="secondary">{{lok.objeLok}}</ion-text></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="medium">Stan lokalizacji:</ion-text></ion-col
        >
        <ion-col
          ><ion-text color="secondary">{{lok.stanLok}}</ion-text></ion-col
        >
      </ion-row>
    </ion-grid>

    <!-- <ion-text color="secondary" *ngFor="let lok of product.loka; let i = index"
      ><p></p></ion-text
      > -->
    <!-- <ion-text color="secondary"><p>ean: {{product.ean}}</p></ion-text>
    <ion-text color="medium"><p>ean: {{product.ean}}</p></ion-text>
    <ion-text color="tertiary"><p>ean: {{product.ean}}</p></ion-text>
    <ion-text color="light"><p>ean: {{product.ean}}</p></ion-text> -->
  </div>
</app-menu-page>
<ion-footer collapse="fade" style="margin-bottom: 15px">
  <ion-toolbar>
    <ion-button expand="block" size="large" (click)="scan()"
      >Skanuj z aparatu</ion-button
    >
  </ion-toolbar>
</ion-footer>
