<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-toggle
      color="light"
      [checked]="reset"
      slot="start"
      (click)="reset = !reset"
    ></ion-toggle>
    <ion-label *ngIf="reset">Ustaw czas rozładunku</ion-label>
    <ion-label *ngIf="!reset">Usuń czas rozpoczęcia rozładunku</ion-label>
  </ion-item>

  <hr />
  <hr />
  <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
  <ion-button color="success" style="float: right" (click)="sendUpdate()"
    >Potwierdź</ion-button
  >
</ion-content>
