<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Informacje o produkcie</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1 style="font-size: 20vh">{{ strefa }}</h1>
  </ion-text>

  <ion-text *ngIf="podstrefa" color="secondary">
    <h2 style="font-size: 10vh">{{ podstrefa }}</h2>
  </ion-text>

  <ion-text *ngIf="ilosc" color="secondary">
    <h2 style="font-size: 5vh">Ilość: {{ ilosc }}</h2>
  </ion-text>
</ion-content>
