<app-menu-page [header]="'Produkty na grupy'">
  <ion-item>
    <ion-label position="floating">Kod</ion-label>
    <ion-input
      autofocus
      type="text"
      [ngModel]="productCode"
      name="productCode"
    ></ion-input>
  </ion-item>

  <div *ngIf="group?.strefa">
    <ion-text color="primary">
      <h1 style="font-size: 20vh">{{ group.strefa }}</h1>
    </ion-text>

    <ion-text *ngIf="group.podstrefa" color="secondary">
      <h2 style="font-size: 10vh">{{ group.podstrefa }}</h2>
    </ion-text>

    <ion-text *ngIf="group.ilosc" color="secondary">
      <h2 style="font-size: 5vh">Ilość: {{ group.ilosc }}</h2>
    </ion-text>
  </div>
</app-menu-page>
<ion-footer collapse="fade" style="margin-bottom: 15px">
  <ion-toolbar>
    <ion-button expand="block" size="large" (click)="scan()"
      >Skanuj z aparatu</ion-button
    >
  </ion-toolbar>
</ion-footer>
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Produkty na grupy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-spinner *ngIf="this.tabService.isLoading$ | async"></app-spinner>

  <ion-list-header>
    <ion-label>Grupa:</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label position="floating">Kod</ion-label>
    <ion-input
      autofocus
      type="text"
      [ngModel]="productCode"
      name="productCode"
    ></ion-input>
  </ion-item>
  <ion-text color="primary">
    <h1 style="font-size: 20vh">{{group?.strefa}}</h1>
  </ion-text>

  <ion-text *ngIf="group?.podstrefa" color="secondary">
    <h2 style="font-size: 10vh">{{group?.podstrefa}}</h2>
  </ion-text>
</ion-content>
<ion-footer collapse="fade" style="margin-bottom: 15px">
  <ion-toolbar>
    <ion-button expand="block" size="large" (click)="sendInfo('5902557245192')"
      >Skanuj z aparatu</ion-button
    >
  </ion-toolbar>
</ion-footer>
 -->
