<app-menu-page [header]="'Strefy ?'">
  <ion-item>
    <ion-label position="floating">Kod</ion-label>
    <ion-input
      autofocus="true"
      type="text"
      value="{{productCode}}"
      name="productCode"
    ></ion-input>
  </ion-item>

  <div *ngIf="group?.strefa">
    <ion-text class="strefa-result" color="primary">
      <ion-label>Strefa: </ion-label>
      <h1 class="strefa">{{ group.strefa }}</h1>
    </ion-text>
    <ion-text color="secondary"><p>ean: {{group.ean}}</p></ion-text>
    <ion-text color="medium"><p>symbol: {{group.symbol}}</p></ion-text>
    <ion-text color="medium"><p>masa: {{group.masa}}</p></ion-text>
    <ion-text color="medium"><p>objetosc: {{group.objetosc}}</p></ion-text>
  </div>
</app-menu-page>
<ion-footer collapse="fade" style="margin-bottom: 15px">
  <ion-toolbar>
    <ion-button expand="block" size="large" (click)="scan()"
      >Skanuj z aparatu</ion-button
    >
  </ion-toolbar>
</ion-footer>
